[access "refs/heads/*"]
	push = +force group Sony Common Maintainers
	push = +force group Sony Karin Windy Maintainers
	push = +force group Sony Kitakami Maintainers
	label-Code-Review = -2..+2 group Sony Common Maintainers
	label-Code-Review = -2..+2 group Sony Karin Windy Maintainers
	label-Code-Review = -2..+2 group Sony Kitakami Maintainers
	label-Verified = -1..+1 group Sony Common Maintainers
	label-Verified = -1..+1 group Sony Karin Windy Maintainers
	label-Verified = -1..+1 group Sony Kitakami Maintainers
	submit = group Sony Common Maintainers
	submit = group Sony Karin Windy Maintainers
	submit = group Sony Kitakami Maintainers
	pushMerge = group Sony Common Maintainers
	pushMerge = group Sony Karin Windy Maintainers
	pushMerge = group Sony Kitakami Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Sony Common Maintainers
	pushMerge = group Sony Karin Windy Maintainers
	pushMerge = group Sony Kitakami Maintainers
