[access "refs/heads/*"]
	push = +force group Sony Kitakami Maintainers
	label-Code-Review = -2..+2 group Sony Kitakami Maintainers
	label-Verified = -1..+1 group Sony Kitakami Maintainers
	submit = group Sony Kitakami Maintainers
	pushMerge = group Sony Kitakami Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Sony Kitakami Maintainers
